// para política colors
$para: #c7095b; // dd1b4c ee1762 ed008a
$nopara: #638cbb; // 6c9fb9 5596dc
$stops: 5;
// general
$bg: #c6c1b7; //f3efe7 eeeae3
$neutral: scale-color($nopara, $lightness: 30%, $saturation: -40%);
$partidos: (
  501: #f3d852,
  502: #81B29A,
  503: #B5AB50,
  504: #EFBE7D,
  505: #75d0c5,
  507: #9aa2c7
);
$toolTip: #302946;
$toolTipBg: scale-color($bg, $lightness: -30%, $saturation: -40%);
;
// partidos políticos colors
// $partidos: #f4e38d #EFBE7D #B3B995 #BC8A7E #5a5e85 #749fba #a7d8d2 #F5CABF #81B29A #BBB4A2 #8894A2 #F2A490 #B9D4DB #79a1d9 #e3b9c2 #CCABD8 #A7767C #8DAAA6 #DF9065 #75d0c5 #7CC6FE #9aa2c7 #8D86C9 #D4E098 #B5AB50;
