// para política colors
$para: #de425b;
$tema: #aadbfa; // #e5e2d6;
$tema-stops: 5;

// partidos políticos colors
$partidos: #F1E6B2 #EFBE7D #B3B995 #BC8A7E #5a5e85 #749fba #a7d8d2 #F5CABF #81B29A #BBB4A2 #8894A2 #F2A490 #B9D4DB #79a1d9 #e3b9c2 #CCABD8 #A7767C #8DAAA6 #DF9065 #75d0c5 #7CC6FE #9aa2c7 #8D86C9 #D4E098 #B5AB50;
